<template>
  <q-btn
    round
    flat
    icon="file_download"
    padding="none"
    @click="downloadTrack"
  />
</template>

<script>
import RequestHelper from 'src/scripts/helpers/RequestHelper'

export default {
  name: "PlayerButtonDownloadTrack",
  computed: {
    currentTrack() {
      return this.$store.state.player.currentTrack
    }
  },
  methods: {
    downloadTrack() {
      RequestHelper.download('/player/download-track-by-id?trackId=' + this.currentTrack.id)
    }
  }
}
</script>

<style scoped>

</style>
