<template>
  <q-btn
    round
    flat
    icon="shuffle"
    padding="none"
    @click="shuffle"
  />
</template>

<script>
import Utils from 'src/scripts/helpers/Utils'

export default {
  name: "PlayerButtonShuffle",
  computed: {
    tracks: {
      get() {
        return this.$store.state.player.tracks
      },
      set(tracks) {
        this.$store.commit('player/setTracks', tracks)
      }
    }
  },
  methods: {
    shuffle() {
      let tracks = Utils.clone(this.tracks)
      tracks.sort(() => Math.random() - 0.5)
      this.tracks = tracks
    },
  },
}
</script>

<style scoped>

</style>
