<template>
  <q-btn
    round
    flat
    icon="skip_previous"
    padding="none"
    @click="changeTrack"
  />
</template>

<script>
import * as ChangeCurrentTrackModeEnum from 'src/scripts/enums/ChangeCurrentTrackModeEnum'
import ChangeCurrentTrackService from 'src/scripts/services/ChangeCurrentTrackService'
import AudioController from 'src/scripts/controllers/AudioController'

export default {
  name: "PlayerButtonPrevTrack",
  methods: {
    changeTrack() {
      const service = new ChangeCurrentTrackService(ChangeCurrentTrackModeEnum.Prev, AudioController.getInstance())
      service.service()
    }
  }
}
</script>
