<template>
  <q-btn
    class="repeat"
    round
    flat
    icon="replay"
    padding="none"
    :color="repeatIconColor"
    @click="toggleIsLoop"
  />
</template>

<script>
import AudioController from 'src/scripts/controllers/AudioController'

export default {
  name: "PlayerButtonRepeat",
  computed: {
    isLoop: {
      get() {
        return this.$store.state.player.isLoop
      },
      set(isLoop) {
        AudioController.getInstance().setIsLoop(isLoop)
      }
    },
    repeatIconColor() {
      return this.isLoop ? 'primary' : ''
    },
  },
  methods: {
    toggleIsLoop() {
      this.isLoop = !this.isLoop
    },
  }
}
</script>
