<template>
  <div class="row volume">
    <q-btn
      round
      flat
      icon="remove"
      padding="none"
      @click="decrementVolume"
    />
    <q-btn
      round
      flat
      padding="none"
      :icon="volumeIconName"
      :color="levelIconColor"
      @click="onClickToggleMute"
    >
      <q-tooltip
        :hide-delay="volumeTooltipDelay"
        v-model="isShowTooltip"
        transition-show="scale"
        transition-hide="scale"
        anchor="top middle"
        self="bottom middle"
        no-parent-event
      >
        {{levelToDisplay}}%
      </q-tooltip>
    </q-btn>
    <q-btn
      round
      flat
      icon="add"
      padding="none"
      @click="incrementVolume"
    />
  </div>
</template>

<script>
import Utils from 'src/scripts/helpers/Utils'
import AudioController from "src/scripts/controllers/AudioController";

const maxLevel = 1.00
const changeLevelStepForHighVolume = 0.10
const changeLevelStepForLowVolume = 0.01
const lowLevelBoundary = 0.10
const minLevel = 0.00
const volumeTooltipDelay = 1500

const changeModeDecrement = 'decrement'
const changeModeIncrement = 'increment'

export default {
  name: "PlayerButtonsVolume",
  data() {
    return {
      lastVolumeBeforeMute: undefined,
      isShowTooltip: false,
      tooltipTimeoutId: undefined,
      isMuted: false,
    }
  },
  computed: {
    volumeIconName() {
      if(this.level > (maxLevel * 0.6)) {
        return 'volume_up'
      } else if (this.level > (maxLevel * 0.2)) {
        return 'volume_down'
      } else if (this.level > minLevel) {
        return 'volume_mute'
      } else {
        return 'volume_off'
      }
    },
    levelIconColor() {
      return this.level > minLevel ? 'primary' : 'warning'
    },
    volumeTooltipDelay() {
      return volumeTooltipDelay
    },
    level: {
      get() {
        const level = this.$store.state.player.volumeLevel
        if(level !== minLevel) {
          this.lastVolumeBeforeMute = level
        }

        return level
      },
      set(level) {
        AudioController.getInstance().setVolumeLevel(level)
      }
    },
    levelToDisplay() {
      return Utils.roundToHundredths(this.level * 100)
    }
  },
  methods: {
    decrementVolume() {
      this.showTooltip()

      let level = this.level
      if(this.isMuted) {
        this.toggleMute()
        level = this.lastVolumeBeforeMute
      }

      const newLevel = Utils.roundToHundredths(level - this.getChangeLevelStep(changeModeDecrement))
      this.level = newLevel < minLevel ? minLevel : newLevel
    },
    incrementVolume() {
      this.showTooltip()

      let level = this.level
      if(this.isMuted) {
        this.toggleMute()
        level = this.lastVolumeBeforeMute
      }

      const newLevel = Utils.roundToHundredths(level + this.getChangeLevelStep(changeModeIncrement))
      this.level = newLevel > maxLevel ? maxLevel : newLevel
    },
    toggleMute() {
      if(!this.isMuted) {
        if(this.level === minLevel) {
          return
        }

        this.isMuted = true
        this.level = minLevel
      } else {
        this.isMuted = false
        this.level = this.lastVolumeBeforeMute
      }
    },
    onClickToggleMute() {
      this.showTooltip()
      this.toggleMute()
    },
    showTooltip() {
      if(this.tooltipTimeoutId !== undefined) {
        clearTimeout(this.tooltipTimeoutId)
      } else {
        this.isShowTooltip = true
      }

      this.tooltipTimeoutId = setTimeout(() => {
        this.isShowTooltip = false
        this.tooltipTimeoutId = undefined
      }, this.volumeTooltipDelay)
    },
    getChangeLevelStep(changeMode) {
      if(this.lastVolumeBeforeMute === lowLevelBoundary) {
        return changeMode === changeModeIncrement
          ? changeLevelStepForHighVolume
          : changeLevelStepForLowVolume
      }

      return this.lastVolumeBeforeMute > lowLevelBoundary
        ? changeLevelStepForHighVolume
        : changeLevelStepForLowVolume
    },
  },
}
</script>

<style lang="scss" scoped>
.volume {
  @import "src/css/playerButtons.scss";
}
</style>
