<template>
  <q-btn
    round
    flat
    :icon="icon"
    padding="none"
    @click="toggleIsPlaying"
  />
</template>

<script>
import AudioController from 'src/scripts/controllers/AudioController'

export default {
  name: "PlayerButtonPlayPause",
  computed: {
    isPlaying() {
      return this.$store.state.player.isPlaying
    },
    icon() {
      return this.isPlaying ? 'pause' : 'play_arrow'
    }
  },
  methods: {
    toggleIsPlaying() {
      this.isPlaying
        ? AudioController.getInstance().pause()
        : AudioController.getInstance().play()
    },
  }
}
</script>
