<template>
  <div v-if="isShow" class="date-range-wrapper row justify-between">
    <q-input
      filled
      v-model="valueFrom"
      :label="filter.labelFrom"
      :dense="true"
      mask="##.##.####"
      :class="{'error-field': isErrorFrom}"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer" v-if="valueFrom === ''">
          <q-popup-proxy>
            <q-date
              v-model="valueFrom"
              mask="DD.MM.YYYY"
              :locale="qDateLocale"
              minimal
              :options="maxDateIsToday"
              first-day-of-week="1"
            >
            </q-date>
          </q-popup-proxy>
        </q-icon>
        <q-icon v-if="valueFrom !== ''" name="close" @click="valueFrom = ''" class="cursor-pointer" />
      </template>
    </q-input>

    <q-input
      filled
      v-model="valueTo"
      :label="filter.labelTo"
      :dense="true"
      mask="##.##.####"
      :class="{'error-field': isErrorTo}"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer" v-if="valueTo === ''">
          <q-popup-proxy>
            <q-date
              v-model="valueTo"
              mask="DD.MM.YYYY"
              :locale="qDateLocale"
              minimal
              :options="maxDateIsToday"
              first-day-of-week="1"
            >
            </q-date>
          </q-popup-proxy>
        </q-icon>
        <q-icon v-if="valueTo !== ''" name="close" @click="valueTo = ''" class="cursor-pointer" />
      </template>
    </q-input>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import * as FilterTypeEnum from 'src/scripts/enums/FilterTypeEnum'
import Utils from 'src/scripts/helpers/Utils'
import {date} from 'quasar'

const qDateLocale = {
  days: [
    'Воскресенье',
    'Понедельник',
    'Вторник',
    'Среда',
    'Четверг',
    'Пятница',
    'Суббота',
  ],
  daysShort: [
    'Вс',
    'Пн',
    'Вт',
    'Ср',
    'Чт',
    'Пт',
    'Сб',
  ],
  months: [
    'Январь',
    'Февраль',
    'Март',
    'Апрель',
    'Май',
    'Июнь',
    'Июль',
    'Август',
    'Сентябрь',
    'Октябрь',
    'Ноябрь',
    'Декабрь',
  ],
  monthsShort: [
    'Янв',
    'Фев',
    'Мар',
    'Апр',
    'Май',
    'Июн',
    'Июл',
    'Авг',
    'Сен',
    'Окт',
    'Ноя',
    'Дек',
  ],
}

export default {
  id: "FilterDateRange",
  data() {
    return {
      qDateLocale: qDateLocale,
    }
  },
  props: {
    id: String
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
    filter() {
      return this.filters[this.id]
    },
    valueFrom: {
      get() {
        return this.filter.valueFrom
      },
      set(value) {
        let filters = Utils.clone(this.filters)
        filters[this.id].valueFrom = value
        this.setFilters(filters)
      }
    },
    valueTo: {
      get() {
        return this.filter.valueTo
      },
      set(value) {
        let filters = Utils.clone(this.filters)
        filters[this.id].valueTo = value
        this.setFilters(filters)
      }
    },
    isShow() {
      return this.filter.type === FilterTypeEnum.DateRange
    },
    filtersValidationErrors() {
      return this.$store.state.player.filtersValidationErrors
    },
    isErrorFrom() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.valueFrom)
    },
    isErrorTo() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.valueTo)
    }
  },
  methods: {
    ...mapMutations({
      setFilters: 'player/setFilters',
    }),
    maxDateIsToday(dateValue) {
      return dateValue <= date.formatDate(new Date(), 'YYYY/MM/DD')
    }
  },
}
</script>

<style lang="scss" scoped>
.date-range-wrapper {
  > label {
    width: 49.5%;
  }

  i.q-icon {
    color: $primary;
  }
}
</style>
