<template>
  <q-input
    v-if="isShow"
    filled
    v-model="value"
    :label="filter.label"
    :dense="true"
    :class="{'error-field': isError}"
  >
    <template v-slot:append>
      <q-icon v-if="value !== ''" name="close" @click="value = ''" class="cursor-pointer" />
    </template>
  </q-input>
</template>

<script>
import {mapMutations} from 'vuex'
import * as FilterTypeEnum from 'src/scripts/enums/FilterTypeEnum'
import Utils from 'src/scripts/helpers/Utils'

export default {
  id: "FilterInput",
  props: {
    id: String
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
    filter() {
      return this.filters[this.id]
    },
    value: {
      get() {
        return this.filter.value
      },
      set(value) {
        let filters = Utils.clone(this.filters)
        filters[this.id].value = value
        this.setFilters(filters)
      }
    },
    isShow() {
      return this.filter.type === FilterTypeEnum.Input
    },
    filtersValidationErrors() {
      return this.$store.state.player.filtersValidationErrors
    },
    isError() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.value)
    },
  },
  methods: {
    ...mapMutations({
      setFilters: 'player/setFilters',
    }),
  }
}
</script>

<style scoped>

</style>
