<template>
  <div v-if="isShow" class="range-wrapper row justify-between items-center">
    <div class="col-5">
      <q-toggle
        v-model="isUse"
        :label="filter.label"
        :dense="false"
        :class="{'error-text': isError}"
      />
    </div>
    <div class="col-7 q-px-md">
      <q-range
        v-model="range"
        :min="filter.minValue"
        :max="filter.maxValue"
        label
        :left-label-value="getRangeLabelValue(range.min)"
        :right-label-value="getRangeLabelValue(range.max)"
        :dense="false"
        :disable="!filter.isUse"
      />
    </div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import * as FilterTypeEnum from 'src/scripts/enums/FilterTypeEnum'
import * as FilterIdEnum from 'src/scripts/enums/FilterIdEnum'
import Utils from 'src/scripts/helpers/Utils'

export default {
  id: "FilterRange",
  props: {
    id: String
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
    filter() {
      return this.filters[this.id]
    },
    isUse: {
      get() {
        return this.filter.isUse
      },
      set(isUse) {
        let filters = Utils.clone(this.filters)
        filters[this.id].isUse = isUse
        this.setFilters(filters)
      }
    },
    range: {
      get() {
        return this.filter.RangeForm
      },
      set(range) {
        let filters = Utils.clone(this.filters)
        filters[this.id].RangeForm = range
        this.setFilters(filters)
      }
    },
    isShow() {
      return this.filter.type === FilterTypeEnum.Range
    },
    filtersValidationErrors() {
      return this.$store.state.player.filtersValidationErrors
    },
    isError() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.minValue)
        || Utils.isset(this.filtersValidationErrors[this.id]?.maxValue)
        || Utils.isset(this.filtersValidationErrors[this.id]?.RangeForm.min)
        || Utils.isset(this.filtersValidationErrors[this.id]?.RangeForm.max)
    },
  },
  methods: {
    ...mapMutations({
      setFilters: 'player/setFilters',
    }),
    getRangeLabelValue(value) {
      if(this.id === FilterIdEnum.TrackDuration) {
        return Utils.getTimeStringFromDuration(value)
      }
      if(this.id === FilterIdEnum.TrackBPM) {
        return value.toString() + ' уд/мин'
      }
      if(this.id === FilterIdEnum.TrackSize) {
        return (value / 1024 / 1024).toFixed(2) + ' МБ'
      }

      return value.toString()
    },
  },
}
</script>

<style lang="scss" scoped>
.range-wrapper {
  color: $font-grey;
}
</style>
