<template>
  <div v-if="isShow" class="checkbox-wrapper row justify-between items-center">
    <q-toggle
      v-model="value"
      :label="filter.label"
      :dense="false"
      :class="{'error-text': isError}"
    />
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import * as FilterTypeEnum from 'src/scripts/enums/FilterTypeEnum'
import Utils from 'src/scripts/helpers/Utils'

export default {
  id: "FilterCheckbox",
  props: {
    id: String
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
    filter() {
      return this.filters[this.id]
    },
    value: {
      get() {
        return this.filter.value
      },
      set(value) {
        let filters = Utils.clone(this.filters)
        filters[this.id].value = value
        this.setFilters(filters)
      }
    },
    isShow() {
      return this.filter.type === FilterTypeEnum.Checkbox
    },
    filtersValidationErrors() {
      return this.$store.state.player.filtersValidationErrors
    },
    isError() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.value)
    },
  },
  methods: {
    ...mapMutations({
      setFilters: 'player/setFilters',
    }),
  },
}
</script>

<style lang="scss" scoped>
.checkbox-wrapper {
  color: $font-grey;
}
</style>
