<template>
  <q-select
    v-if="isShow"
    filled
    v-model="selected"
    multiple
    :options="filter.options"
    :label="filter.label"
    :dense="true"
    :class="{'error-field': isError}"
  >
    <template v-slot:append>
      <q-icon
        v-if="selected.length > 0"
        name="close"
        @click.stop="selected = []"
        class="cursor-pointer"
      />
    </template>
  </q-select>
</template>

<script>
import * as FilterTypeEnum from 'src/scripts/enums/FilterTypeEnum'
import {mapMutations} from 'vuex'
import Utils from 'src/scripts/helpers/Utils'

export default {
  name: "FilterMultipleSelector",
  props: {
    id: String
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
    filter() {
      return this.filters[this.id]
    },
    selected: {
      get() {
        return this.filter.selected
      },
      set(selected) {
        let filters = Utils.clone(this.filters)
        filters[this.id].selected = selected
        this.setFilters(filters)
      }
    },
    isShow() {
      return this.filter.type === FilterTypeEnum.MultipleSelector
    },
    filtersValidationErrors() {
      return this.$store.state.player.filtersValidationErrors
    },
    isError() {
      return Utils.isset(this.filtersValidationErrors[this.id]?.SelectorOptionForm)
    },
  },
  methods: {
    ...mapMutations({
      setFilters: 'player/setFilters',
    }),
  }
}
</script>
