<template>
  <q-layout view="lHh Lpr lFf">
    <player-header />

    <q-page-container class="content-page">
      <router-view />
    </q-page-container>

    <q-footer elevated class="bottom">
      <player-footer-mobile class="col-md-0 col-sm-12"/>
      <player-footer-desktop class="col-sm-0 col-md-12"/>
    </q-footer>

  </q-layout>
</template>

<script>

import { defineComponent } from 'vue'
import PlayerHeader from 'components/Header'
import PlayerFooterMobile from 'components/PlayerFooterMobile'
import PlayerFooterDesktop from 'components/PlayerFooterDesktop'

export default defineComponent({
  name: 'PlayerLayout',
  components: {
    PlayerHeader,
    PlayerFooterMobile,
    PlayerFooterDesktop,
  },
})
</script>

<style lang="scss">
.content-page {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
}

.bottom {
  background: $bg-light-grey;
  color: $font-black;
}
</style>
