body {
  color: $font-black;
  background: $bg-light-grey;
  font-size: 14px;
}

.text-description {
  font-size: 12px;
  color: $font-grey;
}

.text-one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.col-sm-0 {
  @media (max-width: 1023px) {
    display: none;
  }
}

.col-md-0 {
  @media (min-width: 1024px) {
    display: none;
  }
}

.error-field {
  outline: 1px solid $warning;
  border-radius: 3px;
}

.error-text {
  color: $warning;
}
