// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// https://www.materialpalette.com/teal/amber

$primary: #009688;
$secondary: #B2DFDB;
$accent: #FFC107;
$dark: #00796B;

$positive: #009688;
$info: #8BC34A;
$warning: #FF5722;
$negative: #D32F2F;

$font-black: #212121;
$font-grey: #757575;

$bg-light-grey: #FDFDFD;
