<template>
  <error/>
</template>

<script>
import { defineComponent } from 'vue'
import Error from "components/Error404";

export default defineComponent({
  name: 'Error404',
  components: {
    Error
  }
})
</script>
