<template>
  <div>
    <div class="row justify-around items-center q-mb-xs">
      <tracks-total-count/>
      <update-playlist />
    </div>
    <filters-component />
  </div>
</template>

<script>
import TracksTotalCount from 'components/TracksTotalCount'
import UpdatePlaylist from 'components/UpdatePlaylist'
import FiltersComponent from 'components/FiltersComponent'

export default {
  name: 'Filters',
  components: {
    TracksTotalCount,
    FiltersComponent,
    UpdatePlaylist,
  },
}
</script>
