<template>
  <div class="wrapper row">
    <div class="col-12 col-md-7 col-lg-8 col-xl-9">
      <tracks-total-count class="col-sm-0 col-md-12 q-mb-xs" />
      <playlist-component class="col-12"/>
    </div>
    <div class="col-sm-0 col-md-5 col-lg-4 col-xl-3">
      <update-playlist class="col-sm-0 col-md-12 q-mb-xs  " />
      <filters-component class="col-12" />
    </div>
  </div>
</template>

<script>
import PlaylistComponent from 'components/PlaylistComponent.vue'
import FiltersComponent from 'components/FiltersComponent.vue'
import TracksTotalCount from 'components/TracksTotalCount.vue'
import UpdatePlaylist from 'components/UpdatePlaylist.vue'

export default {
  components: {
    PlaylistComponent,
    FiltersComponent,
    TracksTotalCount,
    UpdatePlaylist,
  },
}
</script>
