<template>
    <div class="wrapper row text-center mb-3">
        <div class="col-12 croppedText">
            {{ currentTrackName }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "AuthorAndName",
        computed: {
            currentTrackName() {
                return this.$store.state.player.currentTrack && this.$store.state.player.currentTrack.name
                    ? this.$store.state.player.currentTrack.name
                    : 'Название'
            },
        },
    }
</script>
<style scoped>
@import '~@css/common.module.css';

.wrapper {
    font-size: 1.2rem;
}
</style>