<template>
    <div>
        <div class="row">
            <div class="col-12">
                <!-- Смотрим на этот range -->
                <input type="range" class="range w-100" min="0" :max="currentTrackDuration"
                       :value="currentTrackPositionRounded" step="1">
                <!-- Управляем этим range -->
                <input type="range" class="range w-100 overlay" min="0" :max="currentTrackDuration" value="0"
                       @click="updateCurrentTrackPosition" step="1">
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>{{ currentTrackPositionText }}</div>
            <div>{{ trackDurationText }}</div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    const defaultTrackPositionText = '00:00';

    export default {
        name: "CurrentTrackPosition",
        computed: {
            currentTrack() {
                return this.$store.state.player.currentTrack
            },
            currentTrackPosition() {
                return this.$store.state.player.currentTrackPosition
            },
            currentTrackPositionRounded() {
                return Math.round(this.currentTrackPosition)
            },
            currentTrackPositionText() {
                return this.getFormattedTrackTime(this.currentTrackPositionRounded)
            },
            trackDurationText() {
                return this.getFormattedTrackTime(this.currentTrackDuration)
            },
            currentTrackDuration() {
                return this.currentTrack
                    ? this.currentTrack.duration
                    : undefined
            },
        },
        methods: {
            updateCurrentTrackPosition(event) {
                this.setCurrentTrackPositionSeeker(event.target.value)
            },
            convertSecondsToTime(timePosition) {
                return timePosition < 10
                    ? '0' + timePosition.toString()
                    : timePosition.toString()
            },
            getFormattedTrackTime(timeInSeconds) {
                if (!timeInSeconds) {
                    return defaultTrackPositionText
                }

                let hours = this.convertSecondsToTime(Math.floor(timeInSeconds / 60 / 60))
                let minutes = this.convertSecondsToTime(Math.floor(timeInSeconds / 60 % 60))
                let seconds = this.convertSecondsToTime(Math.floor(timeInSeconds % 60))

                return (hours !== '00' ? hours + ':' : '') + minutes + ':' + seconds
            },
            ...mapActions({
                setCurrentTrackPositionSeeker: 'player/setCurrentTrackPositionSeeker',
            }),
        },
    }
</script>

<style scoped>
@import '~@css/player.module.css';

.overlay {
    position: absolute;
    left: 0;
    max-width: calc(100% - 30px);
    margin: 1px 15px;
    background-color: transparent;
    -webkit-appearance: none;
}

.overlay:focus {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.overlay:active {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.overlay::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.overlay::-webkit-slider-thumb {
    margin-top: -20px;
    width: 16px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-appearance: none;
}

.overlay:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0);
}

.overlay::-moz-range-track {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

.overlay::-moz-range-thumb {
    width: 16px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.overlay::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

.overlay::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
}

.overlay::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
}

.overlay::-ms-thumb {
    width: 16px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-top: 0px;
}

.overlay:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
}

.overlay:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
}
</style>