<template>
    <div class="wrapper row mt-4">
        <div class="col-12 items">
            <div class="alert alert-primary alert-dismissible fade show" role="alert" v-for="filter in activeFilters"
                 :key="filter.key" :title="filter.name">
                {{ filter.rusValue ? filter.rusValue : filter.value }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        @click="removeFilterFromActive(filter.key)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "FilterTags",
        methods: {
            ...mapActions({
                removeFilterFromActive: 'player/removeFilterFromActive',
            }),
        },
        computed: {
            activeFilters() {
                return this.$store.state.player.activeFilters
            },
        }
    }
</script>

<style scoped>
.wrapper {
    padding-top: 10px;
    padding-bottom: 5px;
}

.items > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
</style>