<template>
    <div id="filter-accordion" class="w-100 scrolledArea" data-id="scrolledArea">
        <div class="wrapper alert alert-primary tracks-count" role="alert">Показано {{shownTracksCount}} из {{foundTracksCount}} треков</div>
        <div class="wrapper" v-for="(filter, index) in filters" :key="filter.key">
            <div class="input-group" v-if="filter.type === 'text'">
                <input type="text" class="form-control" :placeholder="filter.name" v-model="filterValues[filter.key]"
                       @keyup.enter="setFilterToActiveComputer(filter.key, filterValues[filter.key])"
                       @keyup="setFilterToActiveMobile(filter.key, filterValues[filter.key])">
            </div>
            <div v-if="filter.type === 'checkbox'" class="checkbox">
                <input type="button" :class="['btn', 'w-100', getButtonColorClassByIndex(index)]" :value="filter.name"
                       @click="setFilterToActive(filter.key, true)">
            </div>
            <div class="card" v-if="filter.type === 'select'">
                <div class="card-header" :id="'heading-' + filter.key">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" :data-target="'#' + filter.key" aria-expanded="true"
                                :aria-controls="filter.key">
                            {{ filter.name }}
                        </button>
                    </h5>
                </div>
                <div :id="filter.key" class="collapse" :aria-labelledby="'heading-' + filter.key"
                     data-parent="#filter-accordion">
                    <div class="card-body">
                        <input type="button" :value="position.name"
                               :class="['btn', 'w-100', getButtonColorClassByIndex(index)]"
                               v-for="(position, index) in filter.positions" :key="position.key"
                               @click="setFilterToActive(filter.key, position.key)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import {empty} from "@/components/utils";

    export default {
        name: "FilterCategory",
        data() {
            return {
                filterValues: [],
            }
        },
        methods: {
            getButtonColorClassByIndex(index) {
                const indexToClassNameMap = [
                'btn-info',
                'btn-primary',
                'btn-dark',
                'btn-success',
                'btn-warning',
                'btn-danger',
                'btn-secondary',
            ]

                return indexToClassNameMap[index % (indexToClassNameMap.length + 1)]
            },
            setFilterToActive(key, value) {
                this.storeSetFiltersToActive([{key, value}])
            },
            setFilterToActiveComputer(key, value) {
                if(!this.isMobile()) {
                    this.setFilterToActive(key, value)
                }
            },
            setFilterToActiveMobile(key, value) {
                if(this.isMobile()) {
                    this.setFilterToActive(key, value)
                }
            },
            isMobile() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
            },
            ...mapActions({
                storeSetFiltersToActive: 'player/setFiltersToActive',
                requestFilters: 'player/requestFilters',
            }),
        },
        computed: {
            filters() {
                return this.$store.state.player.filters
            },
            shownTracksCount() {
                return this.$store.state.player.shownTracksCount
            },
            foundTracksCount() {
                return this.$store.state.player.foundTracksCount
            },
        },
        created() {
            if(empty(this.filters)) {
                this.requestFilters()
            }
        }
    }
</script>

<style scoped>
@import '~@css/player.module.css';

#filter-accordion {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    #filter-accordion {
        margin-top: 0;
    }
}

.wrapper {
    margin-right: 3px;
}

.card-body > input {
    padding: 3px;
    margin-bottom: 3px;
}

.wrapper > div {
    margin-bottom: 3px;
}

.input-group input:focus {
    border: 1px solid #006DFE;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.tracks-count {
    margin-bottom: 3px;
}
</style>