<template>
    <div class="d-flex justify-content-center align-content-center mb-3">
        <div class="d-flex align-items-center">
            <button @click="setPreviousTrack" class="playerButton" :disabled="!isCanChangeTrack">
                <font-awesome-icon icon="backward" size="2x" title="Предыдущий трек"/>
            </button>
        </div>
        <div class="d-flex align-items-center">
            <button @click="switchIsPlayed" class="playerButton">
                <font-awesome-icon
                    :icon="isPlayed ? 'pause' : 'play'" size="3x"
                    :title="isPlayed ? 'Пауза' : 'Воспроизведение'"
                />
            </button>
        </div>
        <div class="d-flex align-items-center">
            <button @click="setNextTrack" class="playerButton" :disabled="!isCanChangeTrack">
                <font-awesome-icon icon="forward" size="2x" title="Следующий трек"/>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";
    import PlayerInterface from "@/components/PlayerInterface";

    export default {
        name: "MainButtons",
        methods: {
            setNextTrack() {
                PlayerInterface.next()
            },
            setPreviousTrack() {
                PlayerInterface.previous()
            },
            switchIsPlayed() {
                this.isPlayed ? this.setIsPlayed(false) : this.setIsPlayed(true)
            },
            ...mapActions({
                setIsPlayed: 'player/setIsPlayed',
            })
        },
        computed: {
            isRepeatEnabled() {
                return this.$store.state.player.isRepeatEnabled
            },
            isPlayed() {
                return this.$store.state.player.isPlayed
            },
            isCanChangeTrack() {
                return this.$store.getters['player/isCanChangeTrack']
            }
        },
    }
</script>

<style scoped>
@import '~@css/player.module.css';
</style>