<template>
    <div class="wrapper scrolledArea" data-id="scrolledArea">
        <ul class="list-group">
            <li :class="['list-group-item', 'd-flex', 'justify-content-between', {'selected': track.id === currentTrack.id}]"
                v-for="track in tracks" :key="track.id">
                <span class="name croppedText" @click="setTrackAndPlay(track)">{{ track.name }}</span>
                <button :class="['playerButton', {'activeIcon': track.is_marked}]"
                        :title="track.is_marked ? 'Добавить в избранное' : 'Убрать из избранного'"
                        @click="switchIsMarked(track)">
                    <font-awesome-icon icon="star" size="1x"/>
                </button>
            </li>
            <li class="list-group-item d-flex justify-content-between" v-if="tracks.length === 0">
                <span class="name align-content-center">Ничего не нашлось :(</span>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "Tracklist",
        computed: {
            tracks() {
                return this.$store.state.player.tracks
            },
            currentTrack() {
                return this.$store.state.player.currentTrack
            },
            activeFilters() {
                return this.$store.state.player.activeFilters
            },
            isPlayed() {
                return this.$store.state.player.isPlayed
            }
        },
        methods: {
            switchIsMarked(track) {
                track.is_marked = !track.is_marked
                this.updateTrack(track)
            },
            setTrackAndPlay(track) {
                this.setCurrentTrack(track)
                this.setIsPlayed(true)
            },
            ...mapActions({
                setCurrentTrack: 'player/setCurrentTrack',
                updateTrack: 'player/updateTrack',
                setIsPlayed: 'player/setIsPlayed',
                setCurrentTrackPosition: 'player/setCurrentTrackPosition',
            }),
        },
    }
</script>

<style scoped>
@import '~@css/common.module.css';
@import '~@css/player.module.css';

.list-group {
    margin-right: 3px;
}

.name {
    cursor: pointer;
}

.selected .name {
    font-weight: bold;
}
</style>