<template>
    <div class="d-flex justify-content-center align-content-center">
        <button @click="switchIsVolumeMuted" class="playerButton">
            <font-awesome-icon :icon="isVolumeMuted ? 'volume-mute' : 'volume-up'" size="2x" class="align-self-center"/>
        </button>
        <input type="range" class="range w-100" min="0" max="100" :value="volume" step="1" @change="updateVolume">
        <button @click="shuffleTracks" class="playerButton">
            <font-awesome-icon icon="random" size="2x" title="Перемешать"/>
        </button>
        <button :class="['playerButton', {'activeIcon': isRepeatEnabled}]" @click="switchRepeat">
            <font-awesome-icon icon="sync" size="2x" title="Повторить текущий трек"/>
        </button>
        <button class="playerButton">
            <font-awesome-icon icon="file-download" size="2x" title="Скачать текущий трек"
                               @click="downloadCurrentTrack"/>
        </button>
        <button :class="['playerButton', {'spinner': isArchiveCreating}]">
          <font-awesome-icon icon="file-archive" size="2x" title="Скачать выбранный плейлист" @click="downloadTracklist"/>
        </button>
    </div>
</template>

<script>
    import {mapActions} from "vuex"
    import {download} from "@/api";
    import PlayerInterface from "@/components/PlayerInterface";
    import {getWsConnect, parseWsResult, prepareWsData} from "../../../api";

    export default {
        name: "VolumeAndButtons",
        data() {
            return {
                isVolumeMuted: false,
                lastVolumeLevel: 0,
                isArchiveCreating: false,
            }
        },
        methods: {
            updateVolume(event) {
                this.setVolume(event.target.value)
            },
            switchRepeat() {
                this.setIsRepeatEnabled(!this.isRepeatEnabled)
            },
            shuffleTracks() {
                PlayerInterface.shuffle()
            },
            downloadCurrentTrack() {
                download('/player/download-track-by-id?trackId=' + this.currentTrack.id)
            },
            switchIsVolumeMuted() {
                this.isVolumeMuted = !this.isVolumeMuted
            },
            downloadTracklist() {
                let wsConnect = getWsConnect()
                this.isArchiveCreating = true

                let method = 'player/create-tracklist-archive'
                wsConnect.onmessage = (event) => {
                    let {result, data} = parseWsResult(method, event)
                    if(result) {
                        download('/player/download-and-remove-file?path=' + data.path)
                    }

                    this.isArchiveCreating = false
                    wsConnect.close()
                }
                wsConnect.onopen = () => {
                    wsConnect.send(prepareWsData(method, {filters: this.activeFilters}))
                }

            },
            ...mapActions({
                setVolume: 'player/setVolume',
                setIsRepeatEnabled: 'player/setIsRepeatEnabled',
            }),
        },
        computed: {
            volume() {
                return this.$store.state.player.volume
            },
            isRepeatEnabled() {
                return this.$store.state.player.isRepeatEnabled
            },
            currentTrack() {
                return this.$store.state.player.currentTrack
            },
            activeFilters() {
                return this.$store.state.player.activeFilters
            },
        },
        watch: {
            isVolumeMuted() {
                if (this.isVolumeMuted) {
                    this.lastVolumeLevel = this.volume
                    this.setVolume(0)
                } else {
                    this.setVolume(this.lastVolumeLevel)
                }
            },
        }
    }
</script>

<style scoped>
    @import '~@css/player.module.css';
    @import '~@css/common.module.css';
</style>