<template>
    <div class="footer-menu">
      <q-tabs
        v-model="tab"
        class="text-teal"
        content-class="footer-menu__content"
      >
        <q-route-tab name="playlist" icon="playlist_play" label="Плейлист" to="/playlist" exact />
        <q-route-tab name="filters" icon="filter_alt" label="Фильтры" to="/filters" exact />
        <q-route-tab name="playlists" icon="queue_music" label="Плейлисты" to="/playlists" exact />
        <q-route-tab name="eq" icon="equalizer" label="Эквалайзер" to="/eq" exact />
        <q-route-tab name="account" icon="account_circle" label="Аккаунт" to="/account" exact />
      </q-tabs>
    </div>
</template>

<style lang="scss">
.footer-menu {
  @media (min-width: 568px) {
    display: none;
  }

  .q-tab {
    min-height: 0;
    padding: 0 3px;

    &__label {
      font-size: 10px;
    }

    &__icon {
      font-size: 30px;
    }
  }

  &__content a:not(.q-router-link--active) {
    color: $font-grey;
  }

  .text-teal {
    color: $primary !important;
  }
}
</style>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      tab: undefined,
    }
  }
})
</script>
