<template>
  <div class="fullscreen bg-primary text-center q-pa-md flex flex-center">
    <div>
      <div class="fullscreen__error-code">
        404
      </div>

      <div class="text-h4 fullscreen__error-message">
        Упс( Нет такой страницы...
      </div>

      <q-btn
        class="q-mt-xl fullscreen__go-home"
        unelevated
        to="/"
        label="На главную"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Error404"
}
</script>

<style lang="scss" scoped>
.fullscreen {
  color: $bg-light-grey;

  &__error-code {
    font-size: 30vh;
  }

  &__error-message {
    opacity: .4;
  }

  &__go-home {
    background-color: $bg-light-grey;
    color: $primary;
  }
}
</style>
