<template>
  <div class="filters">
    <div v-for="(filter, key) in filters" :key="key" class="q-mb-xs">
      <filter-input :id="key" />
      <filter-date-range :id="key" />
      <filter-multiple-selector :id="key" />
      <filter-range :id="key" />
      <filter-checkbox :id="key" />
    </div>
  </div>
</template>

<script>
import FilterInput from 'components/filterInputs/FilterInput'
import FilterDateRange from 'components/filterInputs/FilterDateRange'
import FilterMultipleSelector from 'components/filterInputs/FilterMultipleSelector'
import FilterRange from 'components/filterInputs/FilterRange'
import FilterCheckbox from 'components/filterInputs/FilterCheckbox'

export default {
  name: "FiltersComponent",
  components: {
    FilterInput,
    FilterDateRange,
    FilterMultipleSelector,
    FilterRange,
    FilterCheckbox,
  },
  computed: {
    filters() {
      return this.$store.state.player.filters
    }
  }
}
</script>
