<template>
  <q-header elevated class="header">
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
      />
      <q-toolbar-title>TP</q-toolbar-title>
      <div class="header__page-name">{{currentRouteName}}</div>
    </q-toolbar>
  </q-header>

  <q-drawer
    class="header__main-menu"
    v-model="leftDrawerOpen"
    show-if-above
    bordered
    overlay
    behavior="mobile"
    elevated
  >
    <q-list>
      <q-item-label
        header
      >
        Разделы
      </q-item-label>

      <header-link
        v-for="link in links"
        :key="link.title"
        v-bind="link"
      />
    </q-list>
  </q-drawer>
</template>

<script>
import { ref } from 'vue'
import HeaderLink from 'components/HeaderLink.vue'
import GetMenuLinksService from 'src/scripts/services/GetMenuLinksService'
import { storeInstance } from 'src/store'

export default {
  name: "Header",
  components: {
    HeaderLink,
  },
  setup () {
    const leftDrawerOpen = ref(false)

    return {
      links: new GetMenuLinksService(storeInstance.state.common.widthRange).service(),
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
    currentWidthRange() {
      return this.$store.state.common.widthRange
    }
  },
  methods: {
    getMenuLinks() {
      const getMenuLinksService = new GetMenuLinksService(this.currentWidthRange)
      return getMenuLinksService.service()
    },
  },
  watch: {
    currentWidthRange() {
      this.links = this.getMenuLinks()
    }
  }
}
</script>

<style lang="scss" scoped>
.header {

  &__page-name {
     font-size: 21px;
   }

  &.q-layout__section--marginal {
     color: $bg-light-grey;
  }

  &__main-menu {
    background: $bg-light-grey;
  }
}
</style>
