<template>
  <div>
    <q-dialog v-model="isDownloadPlaylistArchiveClicked" persistent>
      <q-card>
        <q-card-section class="bg-primary text-white text-center">
          <div class="text-h6">Скачивание плейлиста</div>
        </q-card-section>

        <q-card-section class="items-center text-justify q-pa-sm">
          <q-avatar icon="archive" color="primary" text-color="white" class="float-left q-mr-sm"/>
          <span>По нажатию кнопки "Получить" на почту @почта будет отправлена ссылка
            на скачивание архива с треками из текущего плейлиста.
          </span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Получить" color="primary" v-close-popup @click="downloadPlaylistArchive" />
          <q-btn flat label="Отмена" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="isSendToPlaylistClicked" persistent>
      <q-card>
        <q-card-section class="bg-primary text-white text-center">
          <div class="text-h6">Добавить в плейлист</div>
        </q-card-section>

        <q-card-section class="items-center text-justify q-pa-sm">
          <q-select
            filled
            v-model="selectedPlaylists"
            multiple
            :options="playlists"
            label="Плейлисты"
          >
            <template v-slot:append>
              <q-icon
                v-if="selectedPlaylists.length > 0"
                name="close"
                @click.stop="selectedPlaylists = []"
                class="cursor-pointer"
              />
            </template>
          </q-select>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Добавить" color="primary" v-close-popup @click="sendToPlaylist" />
          <q-btn flat label="Отмена" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div class="buttons row justify-around items-center">
      <player-button-prev-track />
      <q-btn
        round
        flat
        icon="star_rate"
        padding="none"
        @click="openSendToPlaylistModal"
      />
      <player-button-download-track />
      <q-btn
        round
        flat
        icon="archive"
        padding="none"
        @click="openDownloadArchiveModal"
      />
      <player-button-shuffle />
      <player-button-repeat />
      <player-buttons-volume />
    </div>
  </div>
</template>

<script>
import PlayerButtonPrevTrack from 'src/components/playerButtons/PlayerButtonPrevTrack'
import PlayerButtonDownloadTrack from 'components/playerButtons/PlayerButtonDownloadTrack'
import PlayerButtonShuffle from 'components/playerButtons/PlayerButtonShuffle'
import PlayerButtonRepeat from 'components/playerButtons/PlayerButtonRepeat'
import PlayerButtonsVolume from 'components/playerButtons/PlayerButtonsVolume'

export default {
  name: "PlayerButtons",
  components: {
    PlayerButtonPrevTrack,
    PlayerButtonDownloadTrack,
    PlayerButtonShuffle,
    PlayerButtonRepeat,
    PlayerButtonsVolume,
  },
  data() {
    return {
      isRepeated: false,

      isDownloadPlaylistArchiveClicked: false,

      isSendToPlaylistClicked: false,
      selectedPlaylists: [],
      playlists: [
        {
          value: 'playlist1',
          label: 'Плейлист 1',
        },
        {
          value: 'playlist2',
          label: 'Плейлист 2',
        },
      ],
    }
  },
  methods: {
    openDownloadArchiveModal() {
      this.isDownloadPlaylistArchiveClicked = true
    },
    downloadPlaylistArchive() {
      console.log('download playlist archive')
    },
    openSendToPlaylistModal() {
      this.isSendToPlaylistClicked = true
    },
    sendToPlaylist() {
      console.log('send to playlists ' + JSON.stringify(this.selectedPlaylists))
    },
  },
}
</script>

<style lang="scss" scoped>
.buttons {
  @import "src/css/playerButtons.scss";
}
</style>
