<template>
  <div class="track row no-wrap justify-between items-center text-center">
    <div class="col-2 col-sm-1 q-pa-xs">
      <player-button-play-pause />
    </div>
    <div class="col-8 col-sm-10">
      <div class="track__name text-one-line">{{ currentTrack.name }}</div>
      <div class="track__authors text-one-line text-description">{{ authors }}</div>
    </div>
    <div class="col-2 col-sm-1 q-pa-xs">
      <player-button-next-track />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .track {
    @import "src/css/playerButtons";
  }
</style>

<script>
import PlayerButtonPlayPause from 'src/components/playerButtons/PlayerButtonPlayPause'
import PlayerButtonNextTrack from 'src/components/playerButtons/PlayerButtonNextTrack'

export default {
  name: 'PlayerTrackMobile',
  components: {
    PlayerButtonPlayPause,
    PlayerButtonNextTrack,
  },
  computed: {
    currentTrack() {
      return this.$store.state.player.currentTrack
    },
    authors() {
      return this.$store.getters['player/getCurrentTrackAuthorNames']
    }
  }
}
</script>
