<template>
  <div class="player-time-slider">
    <q-slider
      v-model="currentPlayTime"
      :min="0"
      :max="currentTrackDuration"
      color="primary"
      :dense="true"
      readonly
      class="player-time-slider__readable"
      thumb-path="M 11 11 l1-1-1-1v2z"
    />
    <!-- thumb-path: M, начальное положение по горизонтали, начальное положение по вертикали, ...-->
    <q-slider
      v-model="currentPlayTime"
      :min="0"
      :max="currentTrackDuration"
      :dense="true"
      class="player-time-slider__writable"
      thumb-path="M 11 11 l1-1-1-1v2z"
    />
    <!--
      writable сделан из-за бага
      после клика на слайдер, перестают устанавливаться значения css left
      если первым действием будет перетаскивание, баг исчезает
    -->
  </div>
</template>

<script>
import AudioController from 'src/scripts/controllers/AudioController'

export default {
  computed: {
    currentPlayTime: {
      get() {
        return this.$store.state.player.currentPlayTime
      },
      set(seconds) {
        AudioController.getInstance().setPlayTime(seconds)
      }
    },
    currentTrackDuration() {
      return this.$store.state.player.currentTrack.duration
    },
  },
}
</script>

<style lang="scss">
.player-time-slider {
  .q-slider {
    height: 10px;

    &__track-container {
      height: 10px;
      margin-top: -5px;
    }
  }

  .q-slider--active .q-slider__thumb {
    transform: scale(1);
  }

  &__writable {
    position: absolute;
    margin-top: -10px;
    z-index: 100;
    opacity: 0;
  }
}
</style>
