<template>
  <div>
    <player-time-slider />
    <player-track-desktop />
  </div>
</template>

<script>
import PlayerTimeSlider from 'components/PlayerTimeSlider.vue'
import PlayerTrackDesktop from 'components/./PlayerTrackDesktop.vue'

export default {
  name: "PlayerFooterDesktop",
  components: {
    PlayerTimeSlider,
    PlayerTrackDesktop,
  },
}
</script>
