<template>
  <div class="track row no-wrap items-center q-pa-xs">
    <div class="col-md-6 col-xl-7 row items-center justify-between">
      <div class="row col-12">
        <div class="track__play-pause row items-center justify-between">
          <player-button-play-pause />
        </div>
        <div class="track__title text-left">
          <div class="track__title__name text-one-line">{{ currentTrack.name }}</div>
          <div class="track__title__authors text-one-line text-description">{{ authors }}</div>
        </div>
      </div>
    </div>
    <div class="q-pa-xs row col-md-6 col-xl-5 justify-between items-center">
      <div class="track__playtime">
        <div class="track__playtime__text">
          {{ playTime }}
        </div>
      </div>
      <div class="row">
        <player-buttons />
        <player-button-next-track />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .track {
    @import "src/css/playerButtons";

    &__play-pause {
      width: 35px;
    }

    .track__title {
      width: calc(100% - 35px);
      padding-right: 10px;
    }

    &__playtime__text {
      color: $font-grey;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
</style>

<script>
import PlayerButtons from 'components/PlayerButtons'
import PlayerButtonPlayPause from 'src/components/playerButtons/PlayerButtonPlayPause'
import PlayerButtonNextTrack from 'src/components/playerButtons/PlayerButtonNextTrack'
import Utils from 'src/scripts/helpers/Utils'

export default {
  name: 'PlayerTrackDesktop',
  components: {
    PlayerButtons,
    PlayerButtonPlayPause,
    PlayerButtonNextTrack,
  },
  computed: {
    currentTrack() {
      return this.$store.state.player.currentTrack
    },
    authors() {
      return this.$store.getters['player/getCurrentTrackAuthorNames']
    },
    playTime() {
      return Utils.getTimeStringFromDuration(this.$store.state.player.currentPlayTime)
    }
  }
}
</script>
