<template>
  <div class="playlist">
    <playlist-track v-for="track in tracks" :track="track" :key="track.id" class="q-ma-xs"/>
    <div v-if="isShowStub" class="stub flex flex-center">
      Ничего не нашлось(
    </div>
  </div>
</template>

<script>
import PlaylistTrack from 'components/PlaylistTrack.vue'

export default {
  name: "PlaylistComponent",
  components: {
    PlaylistTrack,
  },
  computed: {
    tracks() {
      return this.$store.state.player.tracks
    },
    isShowStub() {
      return this.tracks.length === 0
    }
  }
}
</script>

<style lang="scss" scoped>
  .stub {
    font-size: 30px;
    font-weight: bold;
    opacity: .4;
    color: $primary;
  }
</style>
