<template>
  <div
    :class="['track', 'row', 'no-wrap', 'justify-between', 'items-center', {'selected': isSelected}]"
    @click="toggleIsPlaying"
  >
    <div class="track__left row col-10">
      <div class="track__left__play row content-center justify-center">
        <q-btn
          class="vertical-middle"
          flat
          round
          color="primary"
          :icon="icon"
          padding="none"
        />
      </div>
      <div class="track__left__text q-pl-xs">
        <div class="track__left__text__name text-one-line">{{trackName}}</div>
        <div class="track__left__text__authors text-one-line text-description">{{trackAuthors}}</div>
      </div>
    </div>
    <div class="track__right col-2 text-right q-pr-sm">
      <div class="track__right__track-time">{{trackDurationString}}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.track {
  margin-bottom: 3px;
  min-height: 40px;
  padding: 3px 0;

  &__left {
    &__play {
      @import 'src/css/playerButtons';
      width: 30px;
    }
    &__text {
      width: calc(100% - 30px);
    }
  }
}

.track.selected {
  background: $secondary;
}
</style>

<script>
import { defineComponent } from 'vue'
import Utils from 'src/scripts/helpers/Utils'
import AudioController from 'src/scripts/controllers/AudioController'

export default defineComponent({
  props: [
    'track'
  ],
  computed: {
    trackDurationString() {
      return Utils.getTimeStringFromDuration(this.track.duration)
    },
    trackName() {
      return this.track.name
    },
    trackAuthors() {
      let authorNames = []
      this.track.authors.forEach(author => {
        authorNames.push(author.name)
      })

      if(authorNames.length === 0) {
        authorNames.push('Неизвестно')
      }

      return authorNames.join(', ')
    },
    currentTrack() {
      return this.$store.state.player.currentTrack
    },
    isSelected() {
      return this.track.id === this.currentTrack.id
    },
    isPlaying() {
      return this.$store.state.player.isPlaying
    },
    icon() {
      return this.isPlaying && this.isSelected ? 'pause' : 'play_arrow'
    }
  },
  methods: {
    toggleIsPlaying() {
      if(this.isSelected) {
        this.isPlaying
          ? AudioController.getInstance().pause()
          : AudioController.getInstance().play()
      } else {
        AudioController.getInstance().setTrack(this.track)
        if(!this.isPlaying) {
          AudioController.getInstance().play()
        }
      }
    },
  }
})
</script>
