<template>
  <div>
    <player-buttons class="q-ma-xs"/>
    <player-time-slider />
    <player-track-mobile />
    <bottom-menu />
  </div>
</template>

<script>
import PlayerButtons from 'components/PlayerButtons.vue'
import PlayerTimeSlider from 'components/PlayerTimeSlider.vue'
import PlayerTrackMobile from 'components/PlayerTrackMobile.vue'
import BottomMenu from 'components/BottomMenu.vue'

export default {
  name: "PlayerFooterMobile",
  components: {
    PlayerButtons,
    PlayerTimeSlider,
    PlayerTrackMobile,
    BottomMenu,
  },
}
</script>
