<template>
  <div class="tracks-total-count row justify-center items-center">
    <div>
      {{getPluralForm(tracksTotalCount, ['Найден', 'Найдено', 'Найдено'])}}
      <span>{{tracksTotalCount}}</span>
      {{getPluralForm(tracksTotalCount, ['трек', 'трека', 'треков'])}}
    </div>
  </div>
</template>

<script>
import Utils from 'src/scripts/helpers/Utils'

export default {
  name: "TracksTotalCount",
  methods: {
    getPluralForm(number, after) {
      return Utils.getPluralForm(number, after)
    },
  },
  computed: {
    tracksTotalCount() {
      return this.$store.state.player.tracksTotalCount
    }
  }
}
</script>

<style lang="scss" scoped>
.tracks-total-count {
  color: $font-grey;
  font-size: 18px;

  span {
    color: $primary;
  }
}
</style>
