<template>
  <div class="update-playlist row justify-center items-center">
    <q-btn
      flat
      label="Обновить"
      class="found__search__button"
      padding="none"
      color="primary"
      @click="updatePlaylist"
    />
  </div>
</template>

<script>
import RequestPlaylistService from 'src/scripts/services/RequestPlaylistService'
import { mapActions, mapMutations } from 'vuex'
import { defaultTracksPage } from 'src/scripts/constants/PlayerConstants'
import SetUrlParamsFromFiltersService from 'src/scripts/services/filters/SetUrlParamsFromFiltersService'
import UrlController from 'src/scripts/controllers/UrlController'

export default {
  name: "UpdatePlaylist",
  computed: {
    filters() {
      return this.$store.state.player.filters
    },
  },
  methods: {
    async updatePlaylist() {
      this.setCurrentTracksPage(defaultTracksPage)
      this.setFiltersValidationErrors({})

      const requestPlaylistService = new RequestPlaylistService()
      await requestPlaylistService.service()

      const setUrlParamsFromFiltersService = new SetUrlParamsFromFiltersService(this.filters, UrlController.getInstance())
      setUrlParamsFromFiltersService.service()
    },
    ...mapActions({
      setCurrentTracksPage: 'player/setCurrentTracksPage',
    }),
    ...mapMutations({
      setFiltersValidationErrors: 'player/setFiltersValidationErrors'
    }),
  },
}
</script>

<style lang="scss" scoped>
.update-playlist {
  .q-btn {
    font-size: 16px;
  }
}
</style>
