<template>
    <div>
        <vue-title :title="'PromoDJ'"></vue-title>

        <div class="row" v-if="isConfigLoaded">
            <div class="col-12">
                <h2>Настройка конфигурации PromoDJ</h2>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isParseNew" v-model="config.isParseNew">
                        <label class="form-check-label" for="isParseNew">Сканировать новое</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isParsePopular" v-model="config.isParsePopular">
                        <label class="form-check-label" for="isParsePopular">Сканировать популярное</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isParseMusiciansFromList" v-model="config.isParseMusiciansFromList">
                        <label class="form-check-label" for="isParseMusiciansFromList">Сканировать музыкантов из списка ниже</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="countPagesToParseNew">Сколько страниц смотреть при поиске новых</label>
                    <input type="text" class="form-control w-md-50" id="countPagesToParseNew" placeholder="10" v-model="config.countPagesToParseNew">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="countPagesToParsePopular">Сколько страниц смотреть при поиске популярных</label>
                    <input type="text" class="form-control w-md-50" id="countPagesToParsePopular" placeholder="5" v-model="config.countPagesToParsePopular">
                </div>
            </div>
            <div class="col-12">
                <h5>Требования к трекам</h5>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="minPromorank">Минимальный PR</label>
                    <input type="text" class="form-control w-md-50" id="minPromorank" placeholder="20.00" v-model="config.trackRequirements.minPromorank">
                </div>
                <div class="form-group">
                    <label for="minCountOfDownloads">Минимальное количество скачиваний</label>
                    <input type="text" class="form-control w-md-50" id="minCountOfDownloads" placeholder="100" v-model="config.trackRequirements.minCountOfDownloads">
                </div>
                <div class="form-group">
                    <label for="minCountOfListens">Минимальное количество прослушиваний</label>
                    <input type="text" class="form-control w-md-50" id="minCountOfListens" placeholder="300" v-model="config.trackRequirements.minCountOfListens">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="minCountOfComments">Минимальное количество комментариев</label>
                    <input type="text" class="form-control w-md-50" id="minCountOfComments" placeholder="0" v-model="config.trackRequirements.minCountOfComments">
                </div>
                <div class="form-group">
                    <label for="minLengthInSeconds">Длина в секундах</label>
                    <div class="w-md-50 length">
                        от <input type="text" class="form-control" id="minLengthInSeconds" placeholder="0" v-model="config.trackRequirements.minLengthInSeconds">
                        до <input type="text" class="form-control" id="maxLengthInSeconds" placeholder="0" v-model="config.trackRequirements.maxLengthInSeconds">
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="onlyTop100" v-model="config.trackRequirements.onlyTop100">
                    <label class="form-check-label" for="onlyTop100">Только TOP 100</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="onlyPdjFm" v-model="config.trackRequirements.onlyPdjFm">
                    <label class="form-check-label" for="onlyPdjFm">Только PDJ FM</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="disallowTracksFromCompetition" v-model="config.trackRequirements.disallowTracksFromCompetition">
                    <label class="form-check-label" for="disallowTracksFromCompetition">Не сканировать конкурсные композиции</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Типы композиций</h5>
                    <multiselect class="w-md-75" v-model="config.trackRequirements.allowedKindList" tag-placeholder="Добавить вид" placeholder="Найти..." :options="kindOptions" :multiple="true" :taggable="true" :close-on-select="false"></multiselect>
                </div>
            </div>
            <div class="col-12">
                <h5>Список любимых музыкантов</h5>
                <ol>
                    <div class="input-group w-md-75 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="https://promodj.com/jim"
                               v-model="newMusicianUrlField">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button" @click="validateAndInsertMusician()">
                                Добавить
                            </button>
                        </div>
                    </div>
                    <div class="musicianList">
                        <div class="input-group w-md-75 mb-2" v-for="url in config.musicianPages" :key="url">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Выбрать" checked
                                           @change="removeMusicianFromList(url)">
                                </div>
                            </div>
                            <label class="form-control" v-html="url"></label>
                            <div class="input-group-append">
                                <a :href="url" target="_blank" class="btn btn-outline-info" type="button">Перейти</a>
                            </div>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
    import {send} from '@/api/index'
    import VueTitle from '@/components/vue/common/VueTitle'
    import {mapActions} from "vuex";

    export default {
        data() {
            return {
                newMusicianUrlField: '',
                config: {},
                isConfigLoaded: false,
                kindOptions: [],
            }
        },
        methods: {
            async validateAndInsertMusician() {
                if (this.newMusicianUrlField) {
                    if(this.newMusicianUrlField.slice(-1) === '/') {
                        this.newMusicianUrlField = this.newMusicianUrlField.slice(0, -1)
                    }

                    if(!/^(https:\/\/promodj\.com\/)[^/]{2,}$/.test(this.newMusicianUrlField)) {
                        this.setErrorMessage('Неверный url :(')
                    } else if(this.isDuplicateMusician(this.newMusicianUrlField)) {
                        this.setErrorMessage('Музыкант уже есть в списке :)')
                    } else {
                        this.config.musicianPages.push(this.newMusicianUrlField)
                        this.setSuccessMessage('Ещё один попал в наши ряды :)')
                    }
                } else {
                    this.setErrorMessage('Вставьте ссылку :)')
                }
            },
            removeMusicianFromList(url) {
                for (let i = 0; i < this.config.musicianPages.length; i++) {
                    if (this.config.musicianPages[i] === url) {
                        this.config.musicianPages.splice(i, 1)
                    }
                }
            },
            isDuplicateMusician(musicianPageUrl) {
                for(let configUrl of this.config.musicianPages) {
                    if(configUrl === musicianPageUrl) {
                        return true;
                    }
                }
                return false;
            },
            fetchConfig() {
                return send('config/get-config-by-integration-id?integrationId=Promodj').then((config) => {
                    this.config = config
                })
            },
            fetchKindList() {
                return send('config/get-promodj-kind-list').then((kindList) => {
                    this.kindOptions = kindList
                })
            },
            ...mapActions({
                setSuccessMessage: 'common/setSuccessMessage',
                setErrorMessage: 'common/setErrorMessage',
            }),
        },
        components: {
            'vue-title': VueTitle,
        },
        created() {
            if(!this.isConfigLoaded) {
                this.fetchConfig().then(() => {
                    this.isConfigLoaded = true;
                })
                this.fetchKindList()
            }
        },
        watch: {
            config: {
                handler() {
                    if(this.isConfigLoaded) {
                        send('config/set-config-by-integration-id?integrationId=Promodj', {config: this.config});
                    }
                },
                deep: true
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
@import '~@css/common.module.css';

.musicianList label {
    color: #c6190e;
}

.length input {
    width: 35%;
    display: inline;
}

.multiselect {
    border: none;
    outline: none;
}

.multiselect__tag {
    border: 1px solid #138496;
    color: #138496;
    background: none;
}

</style>