<template>
    <div>
        <vue-title :title="'Вконтакте'"></vue-title>

        <div class="row" v-if="isConfigLoaded">
            <div class="col-12">
                <h2>Настройка конфигурации Вконтакте</h2>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isLoadPopular" v-model="config.isLoadPopular">
                        <label class="form-check-label" for="isLoadPopular">Сканировать популярное</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isLoadRecommendations" v-model="config.isLoadRecommendations">
                        <label class="form-check-label" for="isLoadRecommendations">Сканировать рекомендации</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isLoadUsersAudioList" v-model="config.isLoadUsersAudioList">
                        <label class="form-check-label" for="isLoadUsersAudioList">Сканировать треки пользователей из списка ниже</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" class="form-control w-md-50" id="login" v-model="config.login">
                </div>
                <div class="form-group">
                    <label for="countOfPopularTracks">Сколько сканировать популярных?</label>
                    <input type="text" class="form-control w-md-50" id="countOfPopularTracks" placeholder="200" v-model="config.countOfPopularTracks">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control w-md-50" id="password" v-model="config.password">
                </div>
                <div class="form-group">
                    <label for="countOfRecommendationTracks">Сколько сканировать рекомендованных?</label>
                    <input type="text" class="form-control w-md-50" id="countOfRecommendationTracks" placeholder="300" v-model="config.countOfRecommendationTracks">
                </div>
            </div>
            <div class="col-12">
                <h5>Список пользователей</h5>
                <ol>
                    <div class="input-group w-md-75 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="https://vk.com/id146590181"
                               v-model="newUserField">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button" @click="validateAndInsertUrl()">
                                Добавить
                            </button>
                        </div>
                    </div>
                    <div class="urlList">
                        <div class="input-group w-md-75 mb-2" v-for="url in config.userUrlList" :key="url">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Выбрать" checked
                                           @change="removeUrlFromList(url)">
                                </div>
                            </div>
                            <label class="form-control" v-html="url"></label>
                            <div class="input-group-append">
                                <a :href="url" target="_blank" class="btn btn-outline-info" type="button">Перейти</a>
                            </div>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
    import {send} from '@/api/index'
    import VueTitle from '@/components/vue/common/VueTitle'
    import {mapActions} from "vuex";

    export default {
        data() {
            return {
                newUserField: '',
                config: {},
                isConfigLoaded: false,
            }
        },
        methods: {
            validateAndInsertUrl() {
                if (this.newUserField) {
                    if(this.newUserField.slice(-1) === '/') {
                        this.newUserField = this.newUserField.slice(0, -1)
                    }

                    if(!/^(https:\/\/vk\.com\/)[^/]{2,}$/.test(this.newUserField)) {
                        this.setErrorMessage('Неверный url :(')
                    } else if(this.isDuplicateUrl(this.newUserField)) {
                        this.setErrorMessage('Пользователь уже есть в списке :)')
                    } else {
                        this.config.userUrlList.push(this.newUserField)
                        this.setSuccessMessage('Ещё один попал в наши ряды :)')
                    }
                } else {
                    this.setErrorMessage('Вставьте ссылку :)')
                }
            },
            removeUrlFromList(url) {
                for (let i = 0; i < this.config.userUrlList.length; i++) {
                    if (this.config.userUrlList[i] === url) {
                        this.config.userUrlList.splice(i, 1)
                    }
                }
            },
            isDuplicateUrl(url) {
                for(let configUrl of this.config.userUrlList) {
                    if(configUrl === url) {
                        return true;
                    }
                }
                return false;
            },
            fetchConfig() {
                return send('config/get-config-by-integration-id?integrationId=VK').then((config) => {
                    this.config = config
                })
            },
            ...mapActions({
                setSuccessMessage: 'common/setSuccessMessage',
                setErrorMessage: 'common/setErrorMessage',
            }),
        },
        components: {
            'vue-title': VueTitle,
        },
        created() {
            if(!this.isConfigLoaded) {
                this.fetchConfig().then(() => {
                    this.isConfigLoaded = true;
                })
            }
        },
        watch: {
            config: {
                handler() {
                    if(this.isConfigLoaded) {
                        send('config/set-config-by-integration-id?integrationId=VK', {config: this.config});
                    }
                },
                deep: true
            }
        }
    }
</script>

<style>
@import '~@css/common.module.css';

.urlList label {
    color: #c6190e;
}

</style>