<template>
    <div class="wrapper d-flex flex-column h-100">
        <transition name="fade">
            <div class="alert alert-success push-message" role="alert" v-if="successMessage">
                {{successMessage}}
            </div>
        </transition>
        <transition name="fade">
            <div class="alert alert-danger push-message" role="alert" v-if="errorMessage">
                {{errorMessage}}
            </div>
        </transition>
        <header class="shadow-sm">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <span class="navbar-brand">
                        <router-link to="/" v-if="!isPlayerPage">Tracks parser</router-link>
                        <a onclick="return false" v-if="isPlayerPage">Tracks parser</a>
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <router-link to="/config">
                                    <span class="nav-link">
                                        <font-awesome-icon icon="cogs" size="2x" title="Настройка"/>
                                    </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <router-view/>
            </div>
        </div>
        <footer class="mt-auto shadow-sm-inverted">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-secondary">
                        &copy; 2020-{{ new Date().getFullYear() }} Powered by Александр Черных
                    </div>
                    <div class="col-md-6">
                        <a href="https://vk.com/id146590181" target="_blank" class="h-100">
                            <img src="@img/vk-icon.png" class="img-fluid h-100" alt="VK">
                        </a>
                        <a href="https://gitlab.com/aa-chernyh" target="_blank" class="h-100">
                            <img src="@img/gitlab-icon.svg" class="img-fluid h-100" alt="GitLab">
                        </a>
                        <a href="mailto:AA-Chernyh@mail.ru" target="_blank" class="h-100">
                            <img src="@img/mail-icon.png" class="img-fluid h-100" alt="Write e-mail">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<style>
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@css/common.module.css';

/* common */
html,
body,
footer .container,
footer .row,
footer .row > div {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

header, footer {
    color: black;
    background-color: white;
}

.shadow-sm-inverted {
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* /common */

/* header */
header .navbar {
    padding-left: 0;
    padding-right: 0;
}

header .navbar-brand a {
    color: #aa0017 !important;
}

/* /header */

/* content */
.content {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* /content */

/* footer */
footer {
    width: 100%;
    height: 56px;
}

footer .col-md-6 {
    display: flex;
    align-items: center;
    padding: 10px;
}

footer .col-md-6:last-of-type {
    justify-content: flex-end;
}

footer .col-md-6:last-of-type a {
    padding: 0 5px;
}

@media (max-width: 768px) {
    footer .col-md-6 {
        justify-content: center !important;
    }
}

.push-message {
    max-width: calc(100% - 10px);
    width: 300px;
    position: fixed;
    right: 5px;
    top: 5px;
    margin-left: 5px;
    z-index: 9999;
}

/* /footer */

</style>

<script>
    export default {
        metaInfo: {
            titleTemplate: '%s | Tracks parser'
        },
        computed: {
            currentRouteName() {
                return this.$route.name;
            },
            isPlayerPage() {
                return this.currentRouteName === 'Player'
            },
            successMessage() {
                return this.$store.state.common.successMessage
            },
            errorMessage() {
                return this.$store.state.common.errorMessage
            },
        }
    }
</script>
