<template>
  <router-view />
</template>

<script>
import UrlController from 'src/scripts/controllers/UrlController'
import AppInitService from 'src/scripts/services/AppInitService'
import { mapActions } from 'vuex'

export default {
  name: 'App',
  created() {
    let appInitService = new AppInitService(UrlController.getInstance())
    appInitService.service()
  },
  watch: {
    '$route': {
      handler(route) {
        this.setRoute(route)
      },
      deep: true,
      immediate: true
    },
  },
  methods: {
    ...mapActions({
      setRoute: 'common/setRoute',
    })
  }
}
</script>
