<template>
    <div>
        <vue-title :title="'Конфигурации интеграций'"></vue-title>

        <div class="row card-group">
            <div class="col-md-4 d-flex align-items-stretch" v-for="integration in integrationList"
                 :key="integration.id">
                <div class="card">
                    <img class="card-img-top" :src="require(`@img/integrations/${integration.id}.png`)"
                         :alt="integration.name + ' image'">
                    <div class="card-body">
                        <h5 class="card-title">{{ integration.name }}</h5>
                        <p class="card-text">{{ integration.description }}</p>
                    </div>
                    <div class="card-footer">
                        <router-link :to="'/config/' + integration.id.toLowerCase()">
                            <span class="btn btn-info">Настроить</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Vuex from 'vuex'
    import {send} from '@/api/index'
    import VueTitle from '@/components/vue/common/VueTitle'
    import {empty} from "@/components/utils";

    Vue.use(Vuex)

    export default {
        data() {
            return {
                integrationList: []
            }
        },
        methods: {
            requestIntegtationList() {
                send('config/get-integration-list').then((response) => {
                    this.integrationList = response
                })
            }
        },
        created() {
            if(empty(this.integrationList)) {
                this.requestIntegtationList()
            }
        },
        components: {
            'vue-title': VueTitle,
        }
    }
</script>

<style scoped>
.card-img-top {
    max-width: 50%;
    margin: 0 auto;
}

.card-footer {
    text-align: right;
}
</style>
