<template>
    <div class="wrapper">
        <vue-title :title="'Плеер'"></vue-title>

        <author-and-name/>
        <current-track-position/>
        <main-buttons/>
        <volume-and-buttons/>
        <filter-tags/>
        <div class="row" data-id="scrolledWrapper">
            <div class="col-12 col-md-8">
                <tracklist/>
            </div>
            <div class="col-12 col-md-4">
                <filter-category/>
            </div>
        </div>

        <scrolled-height-calculator/>
        <audio-controller/>
        <tracklist-controller/>
        <keybind-controller/>
        <url-filters-controller/>
    </div>
</template>

<script>
    import VueTitle from '@/components/vue/common/VueTitle'

    import AuthorAndName from '@/components/vue/player/AuthorAndName'
    import CurrentTrackPosition from '@/components/vue/player/CurrentTrackPosition'
    import MainButtons from '@/components/vue/player/MainButtons'
    import VolumeAndButtons from '@/components/vue/player/VolumeAndButtons'
    import FilterTags from '@/components/vue/player/FilterTags'
    import Tracklist from '@/components/vue/player/Tracklist'
    import FilterCategory from '@/components/vue/player/FilterCategory'

    import ScrolledHeightCalculator from '@/components/vue/player/ScrolledHeightCalculator';
    import AudioController from '@/components/vue/player/AudioController'
    import TracklistController from '@/components/vue/player/TracklistController'
    import KeybindController from '@/components/vue/player/KeybindController'
    import UrlFiltersController from "@/components/vue/player/UrlFiltersController";

    export default {
        components: {
            'vue-title': VueTitle,

            'author-and-name': AuthorAndName,
            'current-track-position': CurrentTrackPosition,
            'main-buttons': MainButtons,
            'volume-and-buttons': VolumeAndButtons,
            'filter-tags': FilterTags,
            'tracklist': Tracklist,
            'filter-category': FilterCategory,

            'scrolled-height-calculator': ScrolledHeightCalculator,
            'keybind-controller': KeybindController,
            'tracklist-controller': TracklistController,
            'audio-controller': AudioController,
            'url-filters-controller': UrlFiltersController
        },
    }
</script>
