.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.modal {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.bold {
    font-weight: bold;
}

.croppedText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol, ul {
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-49 {
        width: 49% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

@media screen and (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-30 {
        width: 30% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }
}

.spinner {
    position:relative;
}

.spinner:after {
    content: '';
    display: flex;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;

    border: 5px solid rgba(0,117,255,0.9);
    border-top-color: transparent;
    border-radius: 100%;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}