.range {
    cursor: pointer;
}

.range:focus {
    outline: none;
}

.playerButton {
    border: none;
    outline: none;
    background: none;
    margin: 0 5px;
}

.playerButton:enabled:hover {
    transform: scale(1.2);
}

.playerButton:enabled:active {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.activeIcon {
    color: #aa0017;
}

.scrolledArea {
    min-height: 103px;
    overflow: auto;
}